<link rel="stylesheet" href="app.css">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="img\logo.png"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="flexbox">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="flexitem">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-laptop-house"></i> Home</a>
          </li></div><div class="flexitem">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-user-shield"></i> About Me</a>
          </li></div><div class="flexitem">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services"><i class="fas fa-taxi"></i> Services</a>
          </li></div><div class="flexitem">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects"><i class="fas fa-ellipsis-v"></i> Projects</a>
          </li></div><div class="flexitem">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fas fa-phone-volume"></i> Contact</a>
          </li>
        </div>
        </ul>
      </div>
    </div>
  </nav>  