<body style="position: relative; height: auto; width: auto; margin: 0 auto;">
    <%- include partials/header.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include partials/main_nav.ejs %>
<div id="ca" style="height: auto;">
<img id="propic" src="img\pro.jpg">
<h3>Peyman Talkhekar</h3>
<p id="shortpara">I remmeber when I was a kid, I would always play around with my computer and try to figure out how it works, years later, at 18, I had my first introduction to cryptocurrencies. Two years later, I'm ready to dedicate my life to own the very first fully-automotaed digital-asset based hedgefund. </p>  
    <div id="formcontainer" style="padding-top: 10px;">
        <a href="Content\pdf\Resume.pdf" id="resumelink">My Resume</a>
    </div>
</div>
</body>
<footer>
    <nav class="navbar fixed-bottom navbar-dark">
      <h6 class="navbar-text" href="#">&nbsp;&copy; All rights reserved @2022 </h6>
    </nav>
  </footer>