<body>
    <%- include partials/header.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include partials/main_nav.ejs %>
    
    <div id="ca" style="height: auto;">
        <h3>Services</h3>
        <div class="flex-container">
            <div><div style="color: whitesmoke;padding-top: 10px; font-size: 19px;">Web Devlopment</div><hr style="color: whitesmoke;"><img src="img\webdev.png" alt="" id="webdev"><hr style="color: gray;"><p style="color: white; font-size: 17px; margin-bottom: 6px;">Fast and resposive web design for small and medium size business via HTML, CSS, JavaScript</p></div>
            <br>
            <div><div style="color: whitesmoke;padding-top: 10px; font-size: 19px;">Computer Hardware Assembly</div><hr style="color: whitesmoke;"><img src="img\hardware.png" alt="" id="webdev"><hr style="color: gray;"><p style="color: whitesmoke; font-size: 17px; ">A-Z computer assebly, provide a maximum budget and I'll make the best computer possible within your budget. No matter if its for content creation or gaming or office and daily use. </p></div>
            
          </div>
    </div>
    <footer>

        <nav class="navbar fixed-bottom navbar-dark">
          <h6 class="navbar-text" href="#">&nbsp;&copy; All rights reserved @2022 </h6>
        </nav>
      </footer>
    